# Created by https://www.toptal.com/developers/gitignore/api/vscode,python
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode,python

# Data
*.pdf
*.jpg
*.png

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/vscode,python